@import "tailwindcss";

/* Default (Light Mode) */
body {
  background-color: #ffffff;
  color: #000000;
  overflow-x: hidden;
  max-width:  1650px;
  height: 100vh;
  margin: auto;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #0d0910;
    color: #ffffff;
  }
}


.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.codystar-light {
  font-family: "Codystar", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.codystar-regular {
  font-family: "Codystar", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.orbitron-regular {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: lufga;
  src: url('./assets/fonts/LufgaThin.ttf');
}

.lufga-regular {
  font-family: lufga;
  font-weight: 900;
}

.agdasima-regular {
  font-family: "Agdasima", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.agdasima-bold {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* font-variation-settings:
    "wdth" 100; */
}

.custom-toast {
  background: rgba(20, 83, 45, 0.2); 
  border: 1px solid #4ade80;        
  border-radius: 12px;
  padding: 16px;
  color: white;
backdrop-filter: blur(10px);
}


.custom-toast.pulse {
  animation: pulseEffect 1.5s infinite;
}

@keyframes pulseEffect {
  0%, 100% {
    box-shadow: 0 0 0 0 rgba(74, 222, 128, 0.7); /* bg-green-400 */
  }
  50% {
    box-shadow: 0 0 0 8px rgba(74, 222, 128, 0);  /* fading out */
  }
}


.custom-toast-progress {
  background: #22c55e;
  height: 4px;
}
